header {
    background-color: black;
    margin: 0;
    border: 1px solid red;
    height: 15vh;
    display: grid;
    align-items: center;

}

h1, h4 {
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: black;
    border: 1px solid red;
    height: 15vh;
    display: grid;
    align-items: center;
}

#principal {
    display: grid;
    grid-template-columns: 83% 17%;
    background-color: cadetblue;
    border: 1px solid red;
}

main {
    text-align: justify;
    border: 1px solid red;
    background-color: ivory;
    height: 68.7vh;

}

aside {
    background-color: lightgray;
    text-align: center;
    border: 1px solid red;
}

.parrafo{
    text-align: center;
}

